
.App {
  width: 100vw;
  background-image: url("background.jpeg");
  filter: brightness(99%);
  align-items: center;
  position: absolute;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-brand {
  font-size: 30pt !important;
}
.avContainer {
  height: 100vh !important;
}

nav {
  height: 100vh !important;
  padding: 20pt;
  padding-left: 0;
}

.navbar {
  position: fixed;
  background-color: #5e448b;
}
.container {
  height: 100%;
  width: 100%;

  /*background-color: transparent !important;*/
}
.btn:hover {
  background-color: darkgray;
}

.container .btn {
  width: 100pt;
}

.container .btn:focus {
  --bs-btn-color: var(--bs-darkgrey);
}

.container .navbar .btn:focus {
  --bs-btn-color: var(--bs-darkgrey);
}

.col {
  text-decoration: none;
}
.Mode .btn {
  color: white;
}
/*.card {
  position: absolute;
  height: 60vh;
  width: 60vw;
  top: 15%;
  left: 5%;
}*/
.githubLogo {
  padding: 7pt;
  color: white;
}
.wrapper {
  position: relative;
  height: 500px;
}
.footer {
  padding: 10pt;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.globe {
  /*height: 300px;
  width: 300px;*/
  height: 200px;
  width: 200px;
  background-image: url("earthMap.jpeg");
  position: absolute;
  margin: auto;
  border-radius: 50%;
  background-size: cover;
  box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
  animation: spin 30s linear alternate infinite;
  left: 75vw;
  /*left: 60vw;*/
}
@keyframes spin {
  100% {
    background-position: 100%;
  }
}

/*@media (max-width: 768px) {
  .overview .card {
    width: auto;
  }

  .electricty .card {
    width: auto;
  }
}

@media (max-width: 768px) {
  .electricty.card,
  .overview .card {
    width: 22rem;
  }
}*/

@media only screen and (max-width: 510px) {
  .globe {
    display: none;
  }
}

