.App {
  font-family: sans-serif;
  text-align: center;
}

.barchart {
  border: 2px solid forestgreen;
}

table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
  /* border-collapse: collapse; */
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}
